#img {
    width: 50%;
    margin: 0 auto;
}

#title {
    text-align: center;
}

#scores,
#scoresvalue {
    text-align: center;

}

button {
    width: 20vw;
    font-size: 3vw;

}

#buttondiv {
    display: flex;
    justify-content: center;
}

#normal {
    background-color: white;
}

#win {
    background-image: url("./havai-fisek.gif");
}