#img {
    width: 50%;
    margin: 0 auto;
}

#title {
    text-align: center;
    font-size: 4vw;
}

#scores,
#scoresvalue {
    text-align: center;
    font-size: 3vw;

}

button {
    width: 20vw;
    font-size: 3vw;

}

#buttondiv {
    display: flex;
    justify-content: center;
}



#message {
    text-align: center;
    font-size: 5vw;
    color: white;
}